:root {
  --mono: Inconsolata, Monaco, Courier, monospace;

  --bg-dark: #313133;
  --color-dark: #333;
  --sub-color-dark: #555;

  --bg-light: #f7f3ed;
  --color-light: #eee;
  --sub-color-light: #ccc;

  --bg-color: var(--bg-light);
  --color: var(--color-dark);
  --sub-color: var(--sub-color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--bg-dark);
    --color: var(--color-light);
    --sub-color: var(--sub-color-light);
  }
}

[data-mode=light] {
  --bg-color: var(--bg-light);
  --color: var(--color-dark);
  --sub-color: var(--sub-color-dark);
}

[data-mode=dark] {
  --bg-color: var(--bg-dark);
  --color: var(--color-light);
  --sub-color: var(--sub-color-light);
}

html {
  height: 100%;
  font-family: var(--mono);
  font-size: 14px;
  color: var(--color);
  background: var(--bg-color);
  box-sizing: border-box;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 2rem;
  height: inherit;
}
pre {
  font-family: var(--mono);
}
a {
  color: var(--sub-color);
}
a:hover {
  background: var(--color);
  color: var(--bg-color);
}


.header {
  margin: 3rem 0 4rem;
  font-size: 2rem;
}

.about {
  margin: 0 0 3rem;
  white-space: break-spaces;
}

.nav {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.nav .link + .link {
  margin-top: 1rem;
}
.nav .link.mail  {
  margin-top: auto;
}


.mode {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: block;
  width: 28px;
  height: 28px;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  box-shadow: inset 28px -28px #f3d076;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow .2s;
}
.mode:checked {
  box-shadow: inset 9px -7px #f3d076;
}
